.container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    background-image: url("../Imagens/wall.png");
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: black;
    color: white;
    border-bottom: 5px solid gold;
}

.menu-time h2:nth-child(2), .menu-score h2:nth-child(2) {
    margin-top: 2px;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.painel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 150px;
    width: 150px;
    border: 1.5px solid black;
    align-items: center;
    background-color: rgb(128, 47, 0);    
}

.enemy {
    background-color: rgb(250, 170, 79);
    background-image: url(../Imagens/ralph.png);
    background-size: cover;
}